<!-- footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2> Todos los medios de pago disponibles </h2>
                    <p>Siendo socio de @BestPrice tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                        siempre es seguro!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2> ¡Sorteos! </h2>
                    <p> ¡Participá de nuestros sorteos todos los meses! ¡Seguinos en @Bestprice y enterate de todo! </p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2> Somos comunidad </h2>
                    <p> ¡Contanos tu experiencia! Queremos sumar buenas experiencias siempre </p>
                </article>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->
