<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head')  %> 
<body>

	<!-- Header -->
	<%- include('partials/headerDeslogueado') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> Ingresá
			</h2>

			<form class="forms-edit" action="/users/profile" method="get">
				<input class="items-forms" type="email" name="email" placeholder="Correo electronico">
				<input class="items-forms" type="recordarme" name="recordarme" placeholder="recordarme">
				<input type="checkbox" name="Recordarme" placeholder="Recordarme">
				<input class="items-forms" type="password" name="password" placeholder="Contraseña" >
				<button  type="submit">Ingresá</button>
			</form>


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>