<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head')  %> 
<body>

<%- include('partials/headerDeslogueado') %> 
	<!-- Header -->
	

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<div class="col-12">
			<div class="row">
				<div class="col-6">
					<form class="form-register" action="/users/storeUser" method="post">
						<div>
							<label>Email:</label>
							<input type="email" name="email" value="" required>
						</div>
						<div>
							<label>Usuario:</label>
							<input type="text" name="usuario" value="" required>
						</div>
						<div>
							<label>Contraseña:</label>
							<input type="password" name="password" value="" required>
						</div>
						<div>
							<label>Fecha de Nacimiento:</label>
							<input type="date" name="fecha" value="" required>
						</div>
						<div>
							<label>dni:</label>
							<input type="text" name="dni" value="" required>
						</div>
						<div>
							<label>Foto de Perfil:</label>
							<input type="file" name="foto" value="" required>
						</div>
						<div class="terminos-registro">
               	 		    <label for="Terminos">Acepto terminos y condiciones</label>
               			     <input type="checkbox" name="Terminos" value="Acepto" >                 
              		    </div>
						<button type="submit">Enviar</button>
					</form>
				</div>
			</div>
			</div>
		


	<!-- footer -->
	<%- include('./partials/footer')  %> 
		
	<!-- /footer -->
</body>

</html>